<!DOCTYPE html>
<html ng-app="myQuiz">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Maxim_Xu">
	<meta http-equiv="Cache-Control" content="no-transform">
	<meta name="keywords" content="blank">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"> 
	<title>关于信用卡，你应该知道的事</title>                                        
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">                        
    <link rel="stylesheet" type="text/css" href="css/quiz.css">
</head>
<body>
    <div id="myQuiz" ng-controller="QuizController">
    	<h1 ng-show="activeQuestion === -1">关于<span>信用卡</span><br>你应该知道的事</h1>
    	<div class="progress">
    	    <div class="{{ ($index === activeQuestion) ? 'on' : 'off' }}
            {{myQuestion.questionState === 'answered'?'answered':'unanswered'}}
            {{myQuestion.correctness === 'correct'?'correct':'incorrect'}}
            " ng-repeat="myQuestion in myQuestions"></div>
    	</div>
    	<div class="intro {{ (activeQuestion > -1) ? 'inactive' : 'active'}}">
    		<h2></h2>
    		<p class="introtext">手头的信用卡，你真的足够了解它吗？</p>
    	    <p class="btn" ng-click="activeQuestion = 0">开始</p>
    	</div>
    	<div class="question
           {{$index === activeQuestion ? 'active' : 'inactive'}}
           {{myQuestion.questionState === 'answered' ? 'answered' : 'unanswered'}}
        " ng-repeat="myQuestion in myQuestions">
    		<p class="txt">{{myQuestion.question}}</p>
    		<p class="ans" 
            ng-class="{ 
            image:Answer.image,
            selected:isSelected($parent.$index,$index), correct: isCorrect($parent.$index,$index)
            }"
            ng-style="{ 'background-image':'url({{Answer.image}})','background-position':'{{Answer.pos}}','background-size':'{{Answer.size}}' }"
            ng-click="selectAnswer($parent.$index,$index)"
            ng-repeat="Answer in myQuestions[$index].answers">
            {{Answer.text}}
            </p> 
    		<div class="feedback">
    			<p ng-show="myQuestion.correctness === 'correct'">回答<strong>正确</strong>.</p>
    			<p ng-show="myQuestion.correctness === 'incorrect'"><strong>哎呦错啦！</strong></p>
    		    <div ng-bind-html="myQuestion.feedback | html"></div>
                <div class="btn" ng-click="selectContinue()">下一题</div>
                <div class="btn why" ng-click="showInfo = !showInfo" ng-hide="myQuestion.info === undefined">为什么？</div>
                <div ng-bind-html="myQuestion.info | html" ng-show="showInfo"></div>
    		</div>
    	</div>
    	<div class="results {{totalQuestions === activeQuestion?'active':inactive}}">
    		<h3>Results</h3>
    		<p>You scored {{percentage}}% by correctly answering {{score}} of {{totalQuestions}} questions.</p>
    		<div class="share" ng-click="addOverlay()" ng-bind-html="createShareLinks(percentage)"> 
    		</div>
    	</div>
    </div>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/quiz.js"></script>
</body>
</html>