<!DOCTYPE html>
<html ng-app="myQuiz">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Maxim_Xu">
	<meta http-equiv="Cache-Control" content="no-transform">
    <meta name="format-detection" content="telephone=no">
	<meta name="keywords" content="blank">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"> 
	<title>关于信用卡，你应该知道的事</title>                                        
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">                        
    <link rel="stylesheet" type="text/css" href="css/quiz.css">
</head>
<body>
    <div id="myQuiz" ng-controller="QuizController">
    	<h1 ng-show="activeQuestion === -1">关于<span>信用卡</span><br>你应该知道的事</h1>
    	<div class="progress">
    	    <div class="{{ ($index === activeQuestion) ? 'on' : 'off' }}
            {{myQuestion.questionState === 'answered'?'answered':'unanswered'}}
            {{myQuestion.correctness === 'correct'?'correct':'incorrect'}}
            " ng-repeat="myQuestion in myQuestions"></div>
    	</div>
    	<div class="intro {{ (activeQuestion > -1) ? 'inactive' : 'active'}}">
    		<h2></h2>
            <div>
            <img class="intro_image" src="images/intro.jpg" />
            </div>
    		<p class="introtext">手头的信用卡，你真的足够了解它吗？</p>
    	    <p class="btn" ng-click="activeQuestion = 0">开始</p>
    	</div>
    	<div class="question
           {{$index === activeQuestion ? 'active' : 'inactive'}}
           {{myQuestion.questionState === 'answered' ? 'answered' : 'unanswered'}}
        " ng-repeat="myQuestion in myQuestions">
    		<p class="txt">{{myQuestion.question}}</p>
    		<p class="ans" 
            ng-class="{ 
            image:Answer.image,
            selected:isSelected($parent.$index,$index), correct: isCorrect($parent.$index,$index)
            }"
            ng-style="{ 'background-image':'url({{Answer.image}})','background-position':'{{Answer.pos}}','background-size':'{{Answer.size}}' }"
            ng-click="selectAnswer($parent.$index,$index)"
            ng-repeat="Answer in myQuestions[$index].answers">
            {{Answer.text}}
            </p> 
    		<div id="info" class="feedback">
    			<p ng-show="myQuestion.correctness === 'correct'">回答<strong>正确</strong>.</p>
    			<p ng-show="myQuestion.correctness === 'incorrect'"><strong>哎呦错啦！</strong></p>
    		    <div ng-bind-html="myQuestion.feedback | html"></div>
                <a href="#" scroll-to="myQuiz" easing="easeOutCubic" class="btn" ng-click="selectContinue()">下一题</a>
                <a href="#" scroll-to="info" duration="1250" easing="easeOutCubic" class="btn why" ng-click="showInfo = !showInfo;resizeHeight()" ng-hide="myQuestion.info === undefined">{{myQuestion.button}}</a>
                <div ng-bind-html="myQuestion.info | html" ng-show="showInfo"></div>
    		</div>
    	</div>
        <img id="developer" alt="developer" width="80" src="images/me.jpg" style="display: inline;">
    	<div class="results {{totalQuestions === activeQuestion?'active':inactive}}">
    		<h3>测试结果</h3>
    		<p>{{totalQuestions}}中回答正确{{score}}题，正确率达到{{percentage}}%！</p>
    		<div class="share"> 
            <a class="btn wechat" ng-click="addOverlay()" id="wechat">联系开发者</a>
            <a class="btn email" href="http://aquiz.cn/quiz2">好玩！音乐商数测试</a>
    		</div>
    	</div>
    </div>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/angular-smooth-scroll.js"></script>
<script type="text/javascript" src="js/quiz.js"></script> 
</body>
</html>